body {
  font-family: $primary-font;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: $primary-color;
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 4rem;
  line-height: 3.9375rem;

  @media (max-width: 768px) {
    font-size: 3rem;
    line-height: 3.9375rem;
  }
}

.button {
  cursor: pointer;
  border: none;
  padding: 19px 40px;
  font-family: $secondary-font;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: $black-color;
  background: linear-gradient(180deg, #ffde68 0%, #ffb800 100%);
  box-shadow: 0px 3px 0px #f9a400;
  border-radius: 30px;
  transition: all 0.3s;

  &:hover {
    background: linear-gradient(180deg, #ffb800 0%, #ffc700 100%);
  }
}

// SLICK SLIDER

.slick-dots li button {
  display: none;
}

.slick-dots {
  display: flex;
  justify-content: space-between;
  background: #a5e8de;
  border-radius: 3px;
}

.slick-dots li {
  flex-basis: auto;
  width: 30px;
  height: 6px;
  background: #a5e8de;
  border-radius: 3px;
}

.slick-dots li.slick-active {
  flex-grow: 1;
  max-width: 118px;
  width: 30px;
  height: 6px;
  background: #55b8aa;
  border-radius: 3px;
}
