@mixin block-with-shadow {
  box-shadow: 0px 3px 0px #c5e1f4, 0px 15px 31px rgba(60, 65, 79, 0.1);
  border-radius: 24px;
  background-color: $white-color;
  border: 1px solid #c7e1f9;
}

@mixin place($width, $height, $font-size, $line-height) {
  width: $width;
  height: $height;
  color: $primary-color;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: 50%;
  background-color: $light-grey-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin first-place {
  color: $gold-color;
}
@mixin second-place {
  color: $orange-color;
}
@mixin third-place {
  color: $grey-color;
}
