$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Bebas Neue', cursive;

$black-color: #000;
$white-color: #fff;
$red-color: #ff5538;
$light-red-color: #f9a58f;
$grey-color: #b9bbc1;
$light-grey-color: #eaf7ff;
$gold-color: #fed130;
$orange-color: #fd9727;
$light-green-color: #e0fbf7;

$text-color: #343434;
$light-text-color: #939393;
$primary-color: #62c8b9;
