.calendar {
  padding-top: 137px;
  padding-bottom: 165px;
  background-image: url('../../images/teams/calendar-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    
  }

  &__wrapper {
    background: $white-color;
    border-radius: 30px;
    margin-bottom: 17px;
  }

  &__days {
    display: flex;
    padding: 15px 30px;
    gap: 16px;
  }

  &__day {
    background: #d9faff;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: $primary-color;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    span {
      display: block;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.8125rem;
    }

    &-bonus {
      background: #ffe0db;
      color: $red-color;
    }
  }

  &__grid {
    padding: 8px 30px;
    display: grid;
    column-gap: 15px;
    row-gap: 1px;
    grid-template-areas:
      't1 c1-1 c1-2 c1-3 c1-4 c1-5 c1-6 c1-7 c1-8 c1-9 c1-10 c1-11 c1-12 c1-bonus'
      't2 c2-1 c2-2 c2-3 c2-4 c2-5 c2-6 c2-7 c2-8 c2-9 c2-10 c2-11 c2-12 c2-bonus'
      't3 c3-1 c3-2 c3-3 c3-4 c3-5 c3-6 c3-7 c3-8 c3-9 c3-10 c3-11 c3-12 c3-bonus'
      't4 c4-1 c4-2 c4-3 c4-4 c4-5 c4-6 c4-7 c4-8 c4-9 c4-10 c4-11 c4-12 c4-bonus'
      'extra c-extra-1 c-extra-2 c-extra-3 c-extra-4 c-extra-5 c-extra-6 c-extra-7 c-extra-8 c-extra-9 c-extra-10 c-extra-11 c-extra-12 c-extra-bonus';
  }

  &__empty {
    width: 200px;
    height: 80px;
  }

  &__task {
    margin-right: 70px;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    max-width: 130px;
    padding: 20px 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 170%;
      height: 1px;
      background-color: #f9f8f8;
    }

    &--last::after {
      content: none;
    }
  }

  &__cell {
    background: #f2f4f9;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #8e8e8e;
  }

  &__task-1 {
    grid-area: t1;
  }

  &__task-2 {
    grid-area: t2;
  }

  &__task-3 {
    grid-area: t3;
  }

  &__task-4 {
    grid-area: t4;
  }

  &__task-extra {
    grid-area: extra;
  }

  &__days {
    background-color: $primary-color;
    border-radius: 30px 30px 0 0;
  }

  &__total {
    text-align: center;
    margin-left: auto;
    background: #ffffff;
    border-radius: 15px;
    max-width: 198px;
    padding: 12px 0;
    font-size: .875rem;
    line-height: 1.875rem;
    color: #8e8e8e;

    span {
      color: $red-color;
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
}

.cell {
  // ROW 1
  &-1-1 {
    grid-area: c1-1;
    border-radius: 15px 15px 0 0;
  }

  &-1-2 {
    grid-area: c1-2;
    border-radius: 15px 15px 0 0;
  }

  &-1-3 {
    grid-area: c1-3;
    border-radius: 15px 15px 0 0;
  }

  &-1-4 {
    grid-area: c1-4;
    border-radius: 15px 15px 0 0;
  }

  &-1-5 {
    grid-area: c1-5;
    border-radius: 15px 15px 0 0;
  }

  &-1-6 {
    grid-area: c1-6;
    border-radius: 15px 15px 0 0;
  }

  &-1-7 {
    grid-area: c1-7;
    border-radius: 15px 15px 0 0;
  }

  &-1-8 {
    grid-area: c1-8;
    border-radius: 15px 15px 0 0;
  }

  &-1-9 {
    grid-area: c1-9;
    border-radius: 15px 15px 0 0;
  }

  &-1-10 {
    grid-area: c1-10;
    border-radius: 15px 15px 0 0;
    background: $light-green-color;
  }

  &-1-11 {
    grid-area: c1-11;
    border-radius: 15px 15px 0 0;
  }

  &-1-12 {
    grid-area: c1-12;
    border-radius: 15px 15px 0 0;
  }

  &-1-13 {
    grid-area: c1-13;
    border-radius: 15px 15px 0 0;
  }

  &-1-bonus {
    grid-area: c1-bonus;
    border-radius: 15px 15px 0 0;
    background: #ffebe8;
  }

  // ROW 2
  &-2-1 {
    grid-area: c2-1;
  }

  &-2-2 {
    grid-area: c2-2;
  }

  &-2-3 {
    grid-area: c2-3;
  }

  &-2-4 {
    grid-area: c2-4;
  }

  &-2-5 {
    grid-area: c2-5;
  }

  &-2-6 {
    grid-area: c2-6;
  }

  &-2-7 {
    grid-area: c2-7;
  }

  &-2-8 {
    grid-area: c2-8;
  }

  &-2-9 {
    grid-area: c2-9;
  }

  &-2-10 {
    grid-area: c2-10;
    background: $light-green-color;
  }

  &-2-11 {
    grid-area: c2-11;
  }

  &-2-12 {
    grid-area: c2-12;
  }

  &-2-13 {
    grid-area: c2-13;
  }

  &-2-bonus {
    grid-area: c2-bonus;
    background: #ffebe8;
  }

  // ROW 3
  &-3-1 {
    grid-area: c3-1;
  }

  &-3-2 {
    grid-area: c3-2;
  }

  &-3-3 {
    grid-area: c3-3;
  }

  &-3-4 {
    grid-area: c3-4;
  }

  &-3-5 {
    grid-area: c3-5;
  }

  &-3-6 {
    grid-area: c3-6;
  }

  &-3-7 {
    grid-area: c3-7;
  }

  &-3-8 {
    grid-area: c3-8;
  }

  &-3-9 {
    grid-area: c3-9;
  }

  &-3-10 {
    grid-area: c3-10;
    background: $light-green-color;
  }

  &-3-11 {
    grid-area: c3-11;
  }

  &-3-12 {
    grid-area: c3-12;
  }

  &-3-13 {
    grid-area: c3-13;
  }

  &-3-bonus {
    grid-area: c3-bonus;
    background: #ffebe8;
  }

  // ROW 4
  &-4-1 {
    grid-area: c4-1;
  }

  &-4-2 {
    grid-area: c4-2;
  }

  &-4-3 {
    grid-area: c4-3;
  }

  &-4-4 {
    grid-area: c4-4;
  }

  &-4-5 {
    grid-area: c4-5;
  }

  &-4-6 {
    grid-area: c4-6;
  }

  &-4-7 {
    grid-area: c4-7;
  }

  &-4-8 {
    grid-area: c4-8;
  }

  &-4-9 {
    grid-area: c4-9;
  }

  &-4-10 {
    grid-area: c4-10;
    background: $light-green-color;
  }

  &-4-11 {
    grid-area: c4-11;
  }

  &-4-12 {
    grid-area: c4-12;
  }

  &-4-13 {
    grid-area: c4-13;
  }

  &-4-bonus {
    grid-area: c4-bonus;
    background: #ffebe8;
  }

  // ROW EXTRA
  &-extra-1 {
    grid-area: c-extra-1;
    border-radius: 0 0 15px 15px;
  }

  &-extra-2 {
    grid-area: c-extra-2;
    border-radius: 0 0 15px 15px;
  }

  &-extra-3 {
    grid-area: c-extra-3;
    border-radius: 0 0 15px 15px;
  }

  &-extra-4 {
    grid-area: c-extra-4;
    border-radius: 0 0 15px 15px;
  }

  &-extra-5 {
    grid-area: c-extra-5;
    border-radius: 0 0 15px 15px;
  }

  &-extra-6 {
    grid-area: c-extra-6;
    border-radius: 0 0 15px 15px;
  }

  &-extra-7 {
    grid-area: c-extra-7;
    border-radius: 0 0 15px 15px;
  }

  &-extra-8 {
    grid-area: c-extra-8;
    border-radius: 0 0 15px 15px;
  }

  &-extra-9 {
    grid-area: c-extra-9;
    border-radius: 0 0 15px 15px;
  }

  &-extra-10 {
    grid-area: c-extra-10;
    border-radius: 0 0 15px 15px;
    background: $light-green-color;
  }

  &-extra-11 {
    grid-area: c-extra-11;
    border-radius: 0 0 15px 15px;
  }

  &-extra-12 {
    grid-area: c-extra-12;
    border-radius: 0 0 15px 15px;
  }

  &-extra-13 {
    grid-area: c-extra-13;
    border-radius: 0 0 15px 15px;
  }

  &-extra-bonus {
    grid-area: c-extra-bonus;
    border-radius: 0 0 15px 15px;
    background: #ffebe8;
  }
}
