.team {
  margin-bottom: 40px;
  &__title {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      text-align: center;
      margin-top: 26px;
    }
  }

  &__info {
    display: flex;
    margin-bottom: 58px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    margin-top: 16px;
  }

  &__score {
    border-radius: 39.507px;
    padding: 20px 15px;
    margin-top: 0;
    margin-left: 60px;

    @media (max-width: 768px) {
      margin: 0 auto;
    }

    p {
      font-size: 3.3125rem;
      line-height: 4.0625rem;
    }

    span {
      font-size: 1.5rem;
      line-height: 1.8125rem1;
    }
  }

  &__members {
    padding: 37px 0;
    background: $white-color;
    box-shadow: 0px 3px 0px #d9e1e9, 0px 20px 33px rgba(60, 65, 79, 0.11);
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 54px;
    row-gap: 50px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      box-shadow: none;
      border-radius: none;
    }
  }

  &__member {
    
    @media (max-width: 500px) {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      
    }
    img {
      width: 100px;
      height: 100px;

      @media (max-width: 500px) {
        width: 160px;
        height: 160px;
      }
    }
  }
}
