.pagination {
  $self: &;
  margin-top: 105px;
  margin-bottom: 114px;
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  &__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: $primary-color;
    width: 60px;
    height: 60px;
    background: $white-color;
    border: 1px solid $primary-color;
    border-radius: 15px;
    transition: all 0.3s;

    &:hover {
      background: $primary-color;
      color: $white-color;
    }
  }

  &__active {
    background-color: $primary-color;
    color: $white-color;
  }
}
