.teams {
  &__title {
    margin-bottom: 23px;

    @media (max-width: 768px) {
      margin-top: 26px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;

    @media (max-width: 768px) {
      gap: 80px;
    }
  }

  &__item {
    @include block-with-shadow;
    position: relative;

    padding: 45px 53px 58px;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 33px 33px 68px;
    }
  }

  &__image {
    position: relative;
    margin-right: 36px;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__place {
    color: $primary-color;
    @include place(60px, 60px, 1.8125rem, 2.1875rem);

    position: absolute;
    top: -18px;
    left: -13px;
    background-size: 42px 42px;
    background-position: center top 15px;
  }

  &__button {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__info {
    margin-top: 13px;
  }

  &__info-name {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
  }

  &__info-description {
    max-width: 90%;
    font-size: 0.875rem;
    line-height: 1.5625rem;
    color: $light-text-color;
    margin-bottom: 35px;
  }

  &__members {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      margin-bottom: 15px;
      justify-content: center;
    }
  }

  &__member {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &__member-info {
    line-height: 1.25rem;
    h5 {
      font-size: 1.125rem;
    }

    p {
      font-size: 0.875rem;
      color: $light-text-color;
    }
  }

  &__score {
    margin-top: 13px;
    margin-left: 56px;
    height: 142px;
    text-align: center;
    background: #ffe0db;
    border-radius: 30px;
    color: $red-color;

    @media (max-width: 768px) {
      margin-left: 0;
      width: 217px;
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0 auto;
    }

    p {
      width: 130px;
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 3.0625rem;
      margin-top: 14px;
      margin-bottom: 17px;
    }

    span {
      display: block;
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    &-date {
      font-size: 0.75rem;
      line-height: 0.9375rem;
    }
  }
}

.first-place {
  @include first-place;
}

.second-place {
  @include second-place;
}

.third-place {
  @include third-place;
}
