.contacts {
  margin-top: 60px;
  margin-bottom: 72px;

  &__image {
    img {
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__info-title {
    font-family: $secondary-font;
    color: $red-color;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 30px;
  }

  &__position,
  &__name,
  &__address {
    padding-left: 40px;
  }

  &__title {
    font-weight: 700;
  }

  &__main,
  &__title {
    font-size: 1.125rem;
    line-height: 1.875rem;

    @media (max-width: 768px) {
      font-size: .875rem;
      line-height: 1.875rem;
    }
  }

  &__position {
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/main/icons/star.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
    }
  }

  &__name {
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/main/icons/girl.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
    }
  }

  &__address {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/main/icons/pin.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
    }
  }
}
