.copy {
  width: 100%;
  background-color: $primary-color;
  color: $white-color;
  text-align: center;

  p {
    width: 60%;
    margin: 0 auto;
    font-weight: normal;
    font-size: 11px;
    line-height: 30px;
    padding: 15px 0;
    text-align: center;

    @media (max-width: 768px) {
      line-height: 1.0625rem;
    }

    a {
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}
