.header {
  background-image: url('../images/main/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.75rem;

  @media (max-width: 768px) {
    background-image: url('../images/main/header-bg-mobile.png');
    padding-bottom: 9.9375rem;
  }

  &__teams {
    background-image: none;
    position: static;
    @media (max-width: 768px) {
      padding-bottom: 1px;
      box-shadow: 0px 5px 15px rgba(60, 65, 79, 0.15);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6875rem;
    margin-bottom: 3.4375rem;

    @media (max-width: 768px) {
      margin-bottom: 2.1875rem;
    }
  }

  &__wrapper--teams {
    position: static;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 0;

    @media (max-width: 768px) {
      border-bottom: none;
    }
  }

  &__logo {
    @media (max-width: 768px) {
      position: initial;
      z-index: 3;
    }
  }

  &__main {
    text-align: center;
    max-width: 1040px;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-style: normal;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 1rem;
      line-height: 1.21875rem;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-weight: bold;
    margin: 0;
    font-size: 4.8125rem;
    line-height: 4.975rem;

    @media (max-width: 768px) {
      font-size: 2.5625rem;
      line-height: 2.8125rem;
      margin-bottom: 1.875rem;
    }
  }

  &__title,
  &__subtitle {
    color: $primary-color;
  }

  &__image {
    position: relative;
    img {
      @media (max-width: 768px) {
        width: 100%;
        order: 1;
      }
    }
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-hint {
    position: absolute;
    text-align: left;
    color: $white-color;

    background: $red-color;

    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;

    @media (max-width: 768px) {
      position: static;
    }

    p {
      padding: 0.6875rem 1.4375rem;
    }

    &-1 {
      max-width: 252px;
      border-radius: 24px 24px 0 24px;
      left: 0;
      top: 63px;

      @media (max-width: 768px) {
        margin-right: auto;
        margin-bottom: 1.125rem;
      }
    }

    &-2 {
      max-width: 276px;
      border-radius: 24px 0 24px 24px;
      left: 0;
      bottom: 35px;

      @media (max-width: 768px) {
        width: 80%;
        position: absolute;
        bottom: -98px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-3 {
      max-width: 288px;
      border-radius: 24px 24px 24px 0;
      font-weight: 600;
      right: 0;
      bottom: 111px;

      @media (max-width: 768px) {
        margin-left: auto;
        margin-bottom: 1.375rem;
      }
    }

    &-3 span {
      font-size: 1.75rem;
      line-height: 2.0625rem;
      font-weight: 700;
    }
  }
}

.nav {
  $self: &;
  &__menu {
    display: flex;
    gap: 2.25rem;

    &::after {
      display: none;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(10px);
      z-index: -1;
    }

    &-item {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.25rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 0;
        left: 0;
        bottom: -3px;
        height: 2px;
        background-color: $text-color;
        transition: all 0.4s;
      }

      &:hover::after {
        width: 100%;
        left: auto;
        right: 0;
      }

      &--active::after {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-200%);
      opacity: 0;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      transition: all 0.3s;

      &.show {
        transform: translate(0);
        opacity: 1;
      }

      &::after {
        display: block;
      }
    }

    @media (max-width: 375px) {
      justify-content: flex-start;
      padding-top: 140px;
    }
  }

  &__burger {
    display: none;
    width: 27px;
    height: 22px;
    position: relative;
    flex-direction: column;
    gap: 5px;
    transition: all 0.2s;

    span {
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: #343434;
      border-radius: 24px;
      transition: all 0.2s;
    }

    @media (max-width: 768px) {
      display: flex;
      z-index: 2;
    }

    &.show {
      gap: 0;
      span:nth-child(1) {
        position: absolute;
        top: 11px;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        transform: translate(-100%);
        opacity: 0;
      }
      span:nth-child(3) {
        position: absolute;
        top: 11px;
        transform: rotate(-45deg);
      }

      #{ $self }__menu {
        display: block;
      }
    }
  }
}
