.mentors {
  background-image: url('../images/main/mentors-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 6.875rem;
  padding-bottom: 8.75rem;

  &__title {
    margin-bottom: 2.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }

  &__item {
    padding: 1.0625rem;
    text-align: center;
    background: $white-color;
    border-radius: 24px;
    &-image {
      width: 100%;
      height: 0%;
      padding-bottom: 100%;
      position: relative;
      img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__name {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.4375rem;
  }

  &__position {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5625rem;
    color: $light-text-color;
  }
}
