.news {
  background-image: url('../images/main/news-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  &__title {
    padding-top: 7.1875rem;
    margin-bottom: 3.5rem;

    @media (max-width: 768px) {
      padding-top: 5.625rem;
      margin-bottom: 1.25rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 35px;
    column-gap: 30px;
    margin-bottom: 60px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 13px;
    }
  }

  &__more {
    color: $primary-color;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    padding-left: 0.3125rem;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $primary-color;
      bottom: -2px;
      left: 5px;
      transition: all 0.4s;
    }

    &:hover::after {
      width: 0;
      right: 0;
      left: auto;
    }
  }

  &__image {
    width: 100%;
    height: 0%;
    padding-bottom: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      left: 0;
      border-radius: 24px;
    }
  }

  &__item {
    background: $white-color;
    box-shadow: 0px 15px 31px rgba(60, 65, 79, 0.1);
    border-radius: 24px;
    padding: 1.5rem 1.0625rem 1.875rem;

    &-description,
    &-name {
      padding-left: 0.3125rem;
    }

    &-name {
      margin-top: 1.25rem;
      margin-bottom: 0.3125rem;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.5rem;

      @media (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }

    &-description {
      color: $light-text-color;
      font-size: 0.875rem;
      line-height: 1.875rem;
      margin-bottom: 0.9375rem;

      @media (max-width: 768px) {
        font-size: 0.75rem;
        line-height: 1.875rem;
      }
    }
  }

  &__button {
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 10px;
  }
}

.wide {
  &:nth-child(1) {
    grid-column: 1 / 3;
    @media (max-width: 768px) {
      grid-column: 1 / 3;
    }
  }
  &:nth-child(2) {
    grid-column: 3 / 5;
    @media (max-width: 768px) {
      grid-column: 1 / 3;
    }
  }
}

.narrow {
  @media (max-width: 768px) {
    border-radius: 15px;
    padding: 9px 9px 16px 9px;
  }
  .news__item-name {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .news__item-description {
    @media (max-width: 768px) {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
}
