.partners {
  padding-top: 26px;
  padding-bottom: 10px;

  &__title {
    padding-top: 34px;
    margin-bottom: 20px;
  }

  &__wrapper {
    background: #ffffff;
    box-shadow: 0px 3px 0px #d9e1e9, 0px 24px 47px rgba(60, 65, 79, 0.11);
    border-radius: 30px;
    padding: 34px 38px 41px;

    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3.75rem;
    place-items: center;
    // animation: slowTransition 5s infinite linear both;

    @media (max-width: 768px) {
      gap: 2.375rem;
    }
  }
  &__item {
    img {
      width: 100%;
      height: 0%;
      object-fit: cover;

      @media (max-width: 768px) {
        max-width: 100px;
      }
    }
  }
}
