.tournament {
  margin-bottom: 15px;
  &__title {
    margin-top: 70px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__grid {
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__first-quad,
  &__second-quad {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 570px;
    width: 100%;
  }

  &__item {
    @include block-with-shadow;
    padding: 20px 35px 20px 27px;

    display: flex;

    @media (max-width: 768px) {
      padding: 19px;
    }
  }

  &__item-info {
    margin-top: 20px;
    width: 75%;
  }

  &__item-name {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: 15px;
    text-decoration: underline;
    text-underline-position: under;
  }

  &__item-line {
    position: relative;
    max-width: 387px;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light-red-color;
    border-radius: 25px;
    color: $white-color;
    font-weight: bold;

    span {
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 70%;
      height: 33px;
      border-radius: 25px;
      background-color: $red-color;
    }
  }

  &__item-place {
    @include place(100px, 100px, 3rem, 3.6875rem);
    margin-right: 22px;
  }

  &__button {
    text-align: center;
  }

  &__button button {
    margin-top: 54px;
  }
}

.first-place,
.second-place,
.third-place {
  background-image: url('../images/main/winner.svg');
  background-repeat: no-repeat;
  background-position: center top 28px;

  @media (max-width: 768px) {
    background-position: center top 28px;
    // background-size: 40px 40px;
  }
}
